Source: ros-hydro-orocos-kinematics-dynamics
Section: misc
Priority: extra
Maintainer: Orocos Developers <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-orocos-kinematics-dynamics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-orocos-kdl, ros-hydro-python-orocos-kdl
Description: This package depends on a recent version of the Kinematics and Dynamics Library (KDL), distributed by the Orocos Project. It is a meta-package that depends on kdl which contains the c++ version and pykdl which contains the generated python bindings.
