Source: ros-jade-orocos-kdl
Section: misc
Priority: extra
Maintainer: Ruben Smits <ruben@intermodalics.eu>
Build-Depends: debhelper (>= 9.0.0), cmake, libcppunit-dev, libeigen3-dev
Homepage: http://wiki.ros.org/orocos_kdl
Standards-Version: 3.9.2

Package: ros-jade-orocos-kdl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, pkg-config, ros-jade-catkin
Description: This package contains a recent version of the Kinematics and Dynamics Library (KDL), distributed by the Orocos Project.
