Source: ros-indigo-python-orocos-kdl
Section: misc
Priority: extra
Maintainer: Ruben Smits <ruben@intermodalics.eu>
Build-Depends: debhelper (>= 7.0.50~), cmake, python-sip-dev, ros-indigo-orocos-kdl
Homepage: http://wiki.ros.org/python_orocos_kdl
Standards-Version: 3.9.2

Package: ros-indigo-python-orocos-kdl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-sip-dev, ros-indigo-catkin, ros-indigo-orocos-kdl
Description: This package contains the python bindings PyKDL for the Kinematics and Dynamics Library (KDL), distributed by the Orocos Project.
